.addon-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  border: 0.1rem solid $light-gray;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;

  @include small {
    gap: 1rem;
    padding: 1rem;
  }

  .checkbox {
    @include checkbox;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;

    h5 {
      color: $marine-blue;
      font-weight: $font-weight-bold;
      font-size: 110%;
      text-transform: capitalize;

      @include small {
        font-size: 100%;
      }
    }

    p {
      color: $cool-gray;

      @include small {
        font-size: 90%;
      }
    }
  }

  .price {
    color: $medium-blue;
  }

  &.selected {
    border-color: $medium-blue;
    background-color: $magnolia;
    transition: 0.4s;
  }

  &:hover {
    border-color: $medium-blue;
    cursor: pointer;
  }
}
