.info {
  @include step-page;

  .header {
    @include header;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    @include small {
      gap: 1.5rem;
    }
  }
}
