.plan-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 31%;
  border: 0.1rem solid $light-gray;
  border-radius: 0.5rem;
  padding: 1rem;

  @include small {
    flex-direction: row;
    width: 100%;
    gap: 1.2rem;
  }

  img {
    width: 3rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h5 {
      color: $marine-blue;
      font-weight: $font-weight-bold;
      font-size: 110%;
      text-transform: capitalize;
    }

    p {
      color: $cool-gray;
    }

    .yearly {
      display: none;

      &.visible {
        display: block;
        color: $medium-blue;
      }
    }
  }

  &.selected {
    border-color: $medium-blue;
    background-color: $magnolia;
    transition: 0.2s;
  }

  &:hover {
    border-color: $medium-blue;
    cursor: pointer;
  }
}
