.step {
  display: flex;
  gap: 1.1rem;
  align-items: center;

  .circle {
    color: $white;
    border: 0.1rem solid $white;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.selected {
      background-color: $light-blue;
      border: none;
      color: $marine-blue;
      font-weight: $font-weight-bold;
    }
  }

  .text {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    @include small {
      display: none;
    }
  }

  .step-number {
    font-size: 80%;
    color: $light-gray;
  }

  .step-name {
    color: $white;
    font-weight: $font-weight-medium;
  }
}
